    <div class="container "> 
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <!-- Footer widget -->
                    <!-- Heading -->
                    <h4>Cambiar password</h4>
                    <!-- Paragraph -->
                    <!-- Subscribe form -->
                    <div id="ss" ng-repeat="msg in msgValid ">{{ msg }}</div>
                    <form  name="changePass" autocomplete="off">
                     <div class="row header-top"> 
                        <div class="form-group">
                            <p ng-show="changePass.password.$invalid " class="help-block" autocomplete="off">Password Actual</p>
                            <input class="form-control" type="password" placeholder="Password actual" ng-model="password" name="password" required/>
                        </div>    
                        <div class="form-group">
                            <p ng-show="changePass.repassword.$invalid " class="help-block">Nuevo password</p>
                            <input class="form-control" type="password" placeholder="Nuevo password" ng-model="repassword" name="repassword"
                                    required/>
                            
                        </div>
                     </div>   
                        <a  ng-click="change()" class="btn btn-danger" type="submit">Enviar</a>
                    </form>
            </div>
        </div>     
    </div>   

