<div class="container "> 

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!-- Footer widget -->
            <!-- Heading -->
            <h4>Unite a PlatosExpress</h4>
            <!-- Paragraph -->
            <p>Ingresa tu datos y empeza ofrecer tus platos favoritos.</p>
            <!-- Subscribe form -->
            <div id="ss" ng-repeat="msg in msgValid">{{ msg}}</div>
            <form  name="userForm" autocomplete="off">
                <div class="row header-top"> 
                    <h3>Usuario</h3>
                    <div class="form-group">

                        <input class="form-control" type="email" placeholder="ingrese su email" ng-model="email" name="email" required />

                    </div>
                    <div class="form-group">
                        <p ng-show="userForm.password.$invalid" class="help-block" autocomplete="off">Ingresa tu clave</p>
                        <input class="form-control" type="password" placeholder="Ingresa tu clave" ng-model="userForm.password" name="password" required/>
                    </div>    
                    <div class="form-group">
                        <p ng-show="userForm.repassword.$invalid" class="help-block">Ingresa tu clave nuevamente</p>
                        <input class="form-control" type="password" placeholder="Ingresa tu clave nuevamente" ng-model="repassword" name="repassword"
                               compare-to="userForm.password" required/>
                        <p ng-show="userForm.repassword.$invalid" class="help-block">La clave debe coincidir con la anterior</p>
                    </div>
                </div>   
                <div class="row header-top"> 
                    <h3>Datos Personales</h3>

                    <div class="form-group">
                        <p ng-show="userForm.nombre.$invalid" class="help-block">Ingresa tu nombre</p>
                        <input class="form-control" type="text" placeholder="Ingresa tu nombre" ng-model="nombre" name="nombre" required  />
                    </div>
                    <div class="form-group">
                        <p ng-show="userForm.apellido.$invalid" class="help-block">Ingresa tu apellido</p>
                        <input class="form-control" type="text" placeholder="Ingresa tu apellido" ng-model="apellido" name="apellido" required  />
                    </div>
                    <div class="form-group">
                        <p ng-show="userForm.telefono.$invalid" class="help-block">Ingresa tu telefono</p>
                        <input class="form-control" type="text" placeholder="Ingresa tu telefono" ng-model="telefono" name="telefono"  />
                    </div>
                </div>  
                <div class="row header-top"> 
                    <h3>Domicilio</h3>  
                    
                    <h3>Ingresar direccion</h3>
                    <input type="text" gm-places-autocomplete ng-model="autocomplete" style="width: 300px;"/>
                    
                </div>    
                <br>
                <a  ng-click="SaveUser()" class="btn btn-danger" type="submit">Registro</a>
            </form>
        </div>
    </div> 

</div> 


