<div class="inner-page padd">
    <div class="blog">
        <div class="container">
            <div class="blog-sidebar">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <!-- Blog sidebar page widget -->

                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="meta">
                            <i class="fa fa-calendar"></i> - {{date| date:'medium'}}
                            <span class="pull-right"><i class="fa fa-comment"></i> <a href="#">&nbsp;{{ countPreguntas}} respuestas pendientes</a></span>
                        </div>
                        <!-- Blog sidebar page widget -->
                        <div class="sidebar-widget">
                            <!-- Widget Heading -->
                            <h4>Preguntas pendientes</h4>
                            <!-- Recent post list -->
                            <ul class="list-unstyled " ng-repeat="(id,pregunta) in listaPreguntas">
                                
                                <li><i class="fa fa-angle-double-right text-primary"></i>{{pregunta.fecha| date:'yyyy-MM-dd HH:mm:ss Z'}} 
                                    <br> <b> {{ pregunta.texto_pregunta}}?</b>
                                    <br>
                                    <div class="sidebar-widget">
                                        <!-- Widget Heading -->
                                        <div class="box">
                                            <textarea cols="80" placeholder="escribi tu  respuesta aqui" rows="4" type="textarea" ng-model="textoRespuesta"></textarea>
                                            <button type="submit" class="btn btn-danger btn-sm"  ng-click="doRespuesta(id,this)" >Responder</button>
                                        </div>
                                    </div><!--/ Widget end -->
                                </li>

                            </ul>

                        </div><!--/ Widget end -->
                    </div>

                </div><!--/ Inner row end -->
            </div><!--/ Page sidebar end -->
        </div>
    </div>
</div>
