<div class="inner-page padd">
    <!-- Nutrition Start -->
    <h2 class="inner-page__title"> Mis platos Comprados</h2>
    <div class="general">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 general__container__table">
                    <!-- General information content -->
                    <div class="general-content">

                        <ul class="nav nav-tabs">
                            <li  ng-class="{'active':currentTab == 'Tab'}">
                                <a data-toggle="tab" ng-click="selectEstado('c')">Compras Confirmadas</a>
                            </li>
                            <li class="active" ng-class="{'active':currentTab == 'Tab'}">
                                <a data-toggle="tab"  ng-click="selectEstado('i')" >Compras Ingresadas</a>
                            </li>
                            <li ng-class="{'active':currentTab == 'Tab'}">
                                <a data-toggle="tab" ng-click="selectEstado('s')">Compras Suspendidas</a>
                            </li>
                            <li ng-class="{'active':currentTab == 'Tab'}">
                                <a data-toggle="tab" ng-click="selectEstado('e')">Compras Finalizadas</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" ng-class="{'active':currentTab == 'Tab' }" id="Tab">
                                <div class="nutrition">
                                    <div class="row" ng-repeat="(i,ventas) in misVentas">
                                        <hr />
                                        <div class="col-sm-4 nutrition__image">
                                            <!-- Image -->
                                            <img class="img-thumbnail" src="{{ ventas['platoImg'][i] ?  ventas['platoImg'][i] : 'img/platovacio.jpg' }}" alt="" />
                                            <!-- Paragraph -->

                                        </div>
                     
                                        <div class="col-sm-4 nutrition__description">
                                            <div class="table-responsive" style="display:inine" >
                                                <ul style="list-style-type: none">
                                                    <li>  Nombre del plato : {{ ventas['platoNombre'][i]}}</li>
                                                    <li>  Cantidad : {{ ventas['pedidoData'].cantidad}}</li>
                                                    <li>  Precio : {{ ventas['pedidoData'].precio}}</li>
                                                    <li>  Fecha : {{ ventas['fecha_compra']| date:'medium'}}</li>
                                                    <li>  Vendedor : {{ ventas['userEmail'][i]}} </li>
                                                    <li>  Estado : {{ ventas['pedidoData'].estado}} </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="col-sm-4 nutrition__config" >
                                           <button ng-if="estadoPedido == 'i' || estadoPedido == 'c' " class="btn btn-danger" ng-really-message="Seguro que quiere suspender este pedido?" ng-really-click="doSuspender(ventas['usuario_id'],ventas['id_pedido'])"  >Suspender</button>

                                        </div>
                                        <div class="col-sm-4" >
                                            <button ng-if="estadoPedido == 's'" class="btn btn-danger" ng-really-message="Seguro que quiere eliminar este pedido?" ng-really-click="doDelete(ventas['id_pedido'])"  >Eliminar</button>

                                        </div>
                                        <div class="col-sm-4" ng-if="ventas['calificado_comprador'][i] == 'N' && estadoPedido == 'e'">
                                            <select name="singleSelect" ng-model="calificacion">
                                                <option value=1>Malo</option>
                                                <option value=2>Regular</option>
                                                <option value=3>Bueno</option>
                                                <option value=4>Muy Bueno</option>
                                                <option value=5>Excelente</option>
                                            </select>

                                            <a  class="btn btn-success"  ng-click="doCalificar(ventas['id_plato'],ventas['id_pedido'], calificacion)">Calificar al Vendedor</a>
                                        </div>
                                        <div class="col-sm-4" ng-if="estadoPedido == 'c'">

                                            <a  class="btn btn-success"  ng-click="doFinalizar(ventas['id_pedido'])">Finalizar Compra</a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- Navigation tab -->

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Nutrition End -->

    <!-- Showcase Start -->



    <!-- Showcase End -->

</div><!-- / Inner Page Content End -->

